*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* ---------------------------HEADER-PART--------------------------- */
nav{
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow-x: hidden;
}

.logo img{
    float: left;
    width: 4cm;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 65%;
}

nav ul li a{
    color: #ffffff;
}

.nav-drop div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}

.nav-drop{
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    nav ul{
        width: 60%;
    }
}

@media screen and (max-width:768px){
   
    nav ul{
        opacity: 0.92;
        position: absolute;
        right: 0px;
        height: 8cm;
        top: 4cm;
        background-color: #202020;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: all 1s;
        z-index: 999;
    }
    .nav-drop{
        display: block;
    }
    nav{
        justify-content: space-around;
    }

    nav ul.slide {
        transform: translateX(0);
    }
}

/* ---------------------------BODY PART--------------------------- */
body{
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.title-1{
    text-align: center;
    font-size: 2cm;
    font-weight: bold;
    position: relative;
    justify-content: space-around;
    top: 2cm;
}


.top10 {
    position: relative;
    justify-content: center;
    top: 4cm;
    text-align: center;
    margin-top: 13px;
}

.top10 hr{
    max-width: 40cm;
    margin: auto;
}
.asia1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.asia2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.asia3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.asia4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.asia5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.item{
    max-width: 50cm;
}

.item img{
    max-width: 200px;
    margin: 0.5cm 2cm 0.1cm;
}
.hits{
    margin-top: 5px;
    margin-bottom: 5px;
}

.song{
    margin-top: 10px;
    margin-bottom: 5px;
}

.song-artist{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
    background-color: black;
    max-height: 100px;
    margin-top: 150px;
}
.sosmed{
    max-width: 300px;
    max-height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.sosmed img{
    margin: 30px auto;
    position: relative;
    max-width: 40px;
    max-height: 40px;
}